secrets:
  vmware_demo:
    vcenter: vSH6trmugZRA4BW80N45hLNMtDRRM94
    esxi: wlHsAfKmjYZpWa6szc2OIFRGZmlxtNC
  azure_demo:
    client_secret: KQ+M\R2Ayh8E5b/T4PNETFrsY/WEw=
  aws_demo:
    secret_access_key: zXJdddR7RbboP+f3drFe7x


  template:
    password: iYtOmTQfiiWQx36s1d404PiL6E5MEx5
    ssh_keys:
      contents: |
        ssh-rsa AAAAB3N(...)1UX6pBaRx1aTc6lfF/UeU6lsqEiA factory@imagecloudergy.local
      private: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEPTy04lhJEbuZEGubbl730BEzTU3fX9wybHoo12CksFYTU1YLz2vfAoGBAM+L
        52frcwS5ehQmVISpmAKG5Id6Ytlg3g/htfRsN41kaE11JxOkHNHf6cF2bDwYS/Vp
        HuW8I/V4rvGKUkKmVBXbmvnQce8jjNGAgCzx1ykS996e0FZfewqOPdVAS2W1fmIP
        H4QpornQXNY3Fi4LRpfEcmcEl2g5B0cz/SS9ZRPzAoGAcPEiq81rL0u3iBFBMr1t
        ...
        ...
        ...
        ...
        8KGw5tkMRSKg4ZmUs1c7yC0HsvbR74pQZW0ecTHMeqLIuFNCI480/990pgA6eM6y
        e9+wjvorPEkisj4GU/bvk/aY3+MflsufbkS/SoAzhtfwDYKs1jb7Vja7WzoXx5ii
        6LnU0GBNTMsH7Qz7zcM/Ac0CgYAnPmT7GWIeOpQCy1yf2RGNKMR9eX7Ha7GRfzRQ
        i0XVzm6KduR0qktow9YHZsUAd/ek58OX3QNPnwo1UdpMD/dGSsf7BJcGiMpPsuSJ
        mxD8C0IjLhRmwJcbX9oBQK8BBFhpYkKrUtQaHnPvbWscvjzTNa4PuA==
        -----END RSA PRIVATE KEY-----
